<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8" />

  <title>{%block title%}OpenZone{% endblock %}</title>

  <meta name="description" content="... místo pro setkávání, sdílení, 
     diskusi a růst" />
  <meta name="author" content="MarrekNozka" />

  <link rel="stylesheet"
        href="{{ url_for('static', filename='styles.css') }}" />
  <link rel="shortcut icon"
        href="{{ url_for('static', filename='favico.png') }}" />


  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
  <p id="logo">
    <img src="{{url_for('static', filename='logo.png')}}"
         alt="" /><br />
  <a href="https://gitlab.com/openzone">https://GitLab.com/OpanZone</a>
  </p>

  <main>
  <h1>OpenZone</h1>

  <p class="rust">... místo pro setkávání, sdílení, 
     diskusi a <strong>růst</strong>.</p>


  {% block obsah %}

{% filter markdown %}
Příští setkání
--------------------

* Středa 5. 5. 2021, 14:20</li>
* Téma: Hlasujeme
    1. Zjevení Panny Marie v minulosti a současnosti
    2. Větší i menší hmatatelné důkazy Boží existence
    3. Vnitřní a vnější uzdravení -- křesťanský pohled
    4. Jak se dnes dělá web -- frontend a backend.
* <https://meet.spseol.cz/OpenZone>
* Na závěr volná diskuse


Hlasování
-------------

Plánujeme v setkávání pokračovat dokud bude zájem. 

Pokud se chceš zapojit do hlasování o tématu a zároveň chceš být
upozorněn na novinky, nech nám tu svůj e-mail a pošleme
ti včas upozornění.

{% endfilter %}

  <form action="{{url_for('saveemail')}}" method="post">
    e-mail pro zasílání novinek (a registrace pro možnost hlasování):<br />
    <input type="text" name="email" value="{{request.args.get('email') or ''}}"/>
    <input type="submit" name="submit" />
  </form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="flashed">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}


  {% endblock obsah %}
  </main>

  <footer> 
    <a href="https://cs.wikipedia.org/wiki/Copyleft">&#x1f12f;</a>
    Marrek Nožka</footer>

</body>
</html >
