<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    ZZZZ
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    KKKKK
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  },
  created() {
    document.title = 'OpenZone'
  }
}
</script>
